<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/baseTemplates.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewDataPage.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>데이터 확인</title>
</head>
<body>
  <header id='header'>
    <div id="top">
        <h1>
            <a href="page">
                환경정보서비스
            </a>
        </h1>
        <div class="menu_top">
            </form>
        </div>
    </div>

    <nav id="gnb">
        <div class="wfix">
            <ul class="lst_menu">
                <li class="m1"><a href="introduce" class="d1">환경정보서비스란?</a></li>
                <li class="m2"><a href="view_data" class="d1">데이터 확인</a></li>
                <li class="m4"><a href="predicts" class="d1">미래 정보 예측</a></li>
                <li class="m5"><a href="FAQ" class="d1">FAQ</a></li>
            </ul>
            <a href="javascript:;" class="btn_allmenu"><i class="ico_comm">전체메뉴 열기/닫기</i></a>
        </div>
    </nav>
  </header>
<div class="container">
    <aside>
        <h2>API 목록</h2>
        <ul>
            <li><a href="/show_data">에어코리아 기상정보</a></li>
            <li><a href="#">중금속 기상 정보 확인</a></li>
            <li><a href="#">해수면 등락</a></li>
            <li><a href="#">환경 통계</a></li>
            <li><a href="#">기상청 통계</a></li>
        </ul>
    </aside>

    <main>
        <h2>주요 통계</h2>
        <div class="statistics">
            <div class="details">
              <p>3개월간 기상 관련 정보</p>
              <p>에어코리아에서 제공하는 기상요소 정보입니다. </p>
            </div>
            <div class="controls">
              정렬
              <form method="get">
                <button type="submit" id="sort-button">최신순부터</button>
              </form>
              <form method="post">
                <button type="submit" id="sort-button" name="sort">등록순부터</button>
              </form>
            </div>
            <div class="controls">
                행렬 전환
                <form method="get">
                  <button type="submit" id="sort-button">세로 보기</button>
                </form>
                <form method="post">
                  <button type="submit" id="sort-button" name="transpose">가로 보기</button>
                </form>
            </div>
        </div>

      <div class="dataFrame">
        {{ data_html|safe }}
      </div>

    </main>
    <aside>
      <label for="filter-input">지역 선택:</label>
      <ul class="region-detail">
        <li><a href="qq">서울</a> </li>
        <li><a href="qq">경기도</a></li>
        <li><a href="qq">인천</a></li>
      </ul>
      <label for="filter-input">필터:</label>

      <ul class="parameter">
        <li><input type="checkbox" name="columns" value="{{ column }}">통합환경지수</li>
        <li><input type="checkbox" name="columns" value="{{ column }}">오존지수</li>
        <li><input type="checkbox" name="columns" value="{{ column }}">미세먼지 pm10</li>
      </ul>
      <p> 검색 기능</p>
      <input type="text" id="filter-input">
      <p></p>
      <button id="filter-button">입력</button>
    </aside>
</div>


</body>
</html>