<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/baseTemplates.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewDataPage.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>데이터 확인</title>
</head>
<body>
  <header id='header'>
    <div id="top">
        <h1>
            <a href="page">
                환경정보서비스
            </a>
        </h1>
        <div class="menu_top">
            </form>
        </div>
    </div>

    <nav id="gnb">
        <div class="wfix">
            <ul class="lst_menu">
                <li class="m1"><a href="introduce" class="d1">환경정보서비스란?</a></li>
                <li class="m2"><a href="view_data" class="d1">데이터 확인</a></li>
                <li class="m4"><a href="predicts" class="d1">미래 정보 예측</a></li>
                <li class="m5"><a href="faq" class="d1">FAQ</a></li>
            </ul>
            <a href="javascript:;" class="btn_allmenu"><i class="ico_comm">전체메뉴 열기/닫기</i></a>
        </div>
    </nav>
  </header>
  <div class="container">
    <aside>
        <h2>API 목록</h2>
        <ul>
            <li><a href="/show_data">에어코리아 기상정보</a></li>
            <li><a href="/view_datasql">에어코리아 SQL형식</a></li>
            <li><a href="#">해수면 등락</a></li>
            <li><a href="#">환경 통계</a></li>
            <li><a href="#">기상청 통계</a></li>
        </ul>
    </aside>

    <main>
        <h2>{{ selected_file }} 데이터</h2>
        
        <div class="statistics">
            <div class="details">
              <p><a href="https://www.airkorea.or.kr/index">에어코리아</a>에서 제공하는 {{ selected_file }} 데이터의 3개월간 기상 관련 정보</p>
              <p> khaiValue:통합대기환경수치,so2Value:아황산가스,coValue:일산화탄소,pm10Value:미세먼지,noValue:이산화질소,o3Value:오존</p>
            </div>
          <form method="POST" action="/download_current" >
              <input type="hidden" name="csv_file" value="{{ selected_file }}">
              <button type="submit" class="downloadButton">csv 파일 다운로드</button>
          </form>
        </div>

      <div class="dataFrame">
        {{ data_html|safe }}
      </div>

    </main>
    <aside>
      <form method="POST" action="/view_data">
        <button type="submit" name="transpose">데이터 행렬 전환</button>
        <button type="submit" name="sort">데이터 정렬</button>
        <br>
        <h3 for="csv_file">지역을 선택하세요.</h3>
        <div>
          {% for file in csv_files %}
              <div>
                  <input type="radio" id="{{ file }}" name="csv_file" value="{{ file }}" {% if file == selected_file %}checked{% endif %}>
                  <label for="{{ file }}">{{ file }}</label>
              </div>
          {% endfor %}
        </div>
        <button type="submit" name="action" value="load">데이터 불러오기</button>
      </form>

    </aside>
</div>

</body>
</html>