<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>


    <header id='header'>
        <div id="top">
            <h1>
                <a href="main">
                    환경정보서비스
                </a>
            </h1>
            <div class="menu_top">

            </div>
        </div>

        <nav id="gnb" tabindex="-1">
            <div class="wfix">
                <ul class="lst_menu">
                    <li class="m1">
                        <a href="#" class="d1">환경정보서비스란?</a>
                    </li>
                    <li class="m2">
                        <a href="view_data" class="d1">데이터 확인</a>
                    </li>
                    <li class="m3">
                        <a href="visualize" class="d1">시각화 분석</a>
                    </li>
                    <li class="m4"><a href="predicts" class="d1">미래 정보 예측</a>
                    </li>
                    <li class="m5"><a href="#" class="d1">건의사항</a>
                </ul>
                <a href="javascript:;" class="btn_allmenu "><i class="ico_comm">전체메뉴 열기/닫기</i></a>

            </div>
        </nav>
    </header>

    
    <div class="container">
        <img src="{{ url_for('static', filename='img/scr.png') }}">
    </div>
</body>
</html>
