



.container {
    display: flex;
    flex:1;
}

aside {
    width: 13%;
    background-color: #f4f4f4;
    padding: 20px;
}

aside h2 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

main {
    width: 87%;
    padding: 20px;
}

.statistics {
    display: flex;
    justify-content: space-between;
}

.stat {
    background-color: #e0e0e0;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

.reports .report {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reports .report h3 a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.controls, .filter {
    padding: 10px;
    background-color: #eaeaea;
}

.table-container {
    flex: 1;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.filter {
    display: flex;
    align-items: center;
}

.filter label {
    margin-right: 10px;
}

.filter input {
    margin-right: 10px;
}